# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Universita'\Magistrale - Bologna\2° Anno\I Semestre - 2° Anno\SCP - Scalable And Cloud Computing\Progetto\SCP_DataMiningProject_FP-Growth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
